# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-Learn

## Data Science Tools:
* Knime
* Scikit-learn
* Hadoop

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [20]:
#This will convert 200 minutes to hours by diving by 60
min=int(200)
h=min//60
m=min%60
print("the result is "+str(h)+" Hours with "+ str(m) + " minutes")

the result is 3 Hours with 20 minutes

***Objectives:***
* List of Data Scientists languages 
* List of Data Scientists libraries
* List of Data Science Tools

## Author
Jose Luis Alba